Desktop/README file.webloc
.gradle/
node_modules/
android/app/google-services.json
.android/app/google-services.json
.android/google-services (1) (1).json
.android/app/google-services 3.json
.ios/google-services (2) (1).json
.ios/Runner/google-services 2.json
.ios/Runner/google-services.json
